{% extends "repositorio/index.html" %}


{% block titulo %}
<h1 class="mb-5">Sobre nosotros</h1>     
<h2 class="mb-5">Porque elegirnos</h2>                             
{% endblock titulo %}


{% block contenido %}
<p>Somos un equipo de profesionales que trabaja basados en una metodología de entrenamiento físico-cognitivo</p>
<br>
<p>Desarrollamos entrenamientos para todos los deportes con el objetivo principal de potenciar las habilidades cognitivas y elevar el nivel de competencia del deportista en su disciplina.
</p>
{% endblock contenido %}