{% extends "repositorio/index.html" %}


{% block titulo %}
<h1 class="mb-5">Complejos</h1>
<h2 class="mb-5">Encontranos cerca de donde estas</h2>                                
{% endblock titulo %}


{% block contenido %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Complejo</th>
            <th>Dirección</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
    {% for p in profesionales  %}
        <tr>
            <td>{{ p.complejo }}</td>
            <td>{{ p.direccion }}</td>
            <td>{{ p.telefono }}</td>
            <td>        
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}